.search-container{
  width: 200px;
  /*width: 20px;*/
  vertical-align: middle;
  white-space: nowrap;
  position: absolute;
  right: 30px;
  margin-top: -20px;
  border: 2px solid lightgrey;
  border-radius: 2rem;
  padding: 10px;
  background-color: white;


  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

.search-container input#search{
  width: 200px;
  /*width: 0;*/
  height: 20px;
  background: white;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  /*padding-left: 20px;*/
  padding-left: 35px;


  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;


  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.search-container input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.search-container input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.search-container input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.search-container input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.search-container .icon{
  position: absolute;
  top: 50%;
  margin-top: -8px;
  margin-left: 3px;
  z-index: 1;
  color: #4f5b66;
}

.search-container input#search:hover, .search-container input#search:focus, .search-container input#search:active{
    outline:none;
    background: #ffffff;
}


.search-container-expand {
  width: 200px !important;
}

.search-input-expand {
  width: 200px !important;
  padding-left: 35px !important;
}


@media screen and (max-width: 870px) {
  .search-container {
    right: 16.5px;
  }
}


@media screen and (max-width: 799px) {
  .search-container{
    width: 20px;
  }

  .search-container input#search{
    width: 0;
    padding-left: 20px;
  }
}


